{% extends 'base.html' %} {% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul class=flashes>
               {% for message in messages %}
               {% if success == 0 %}
               <li class="text-danger">{{ message }}</li>
               {% else %}
               <li class="text-success">{{ message }}</li>
               {% endif %}
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

    <h2>Welcome, you are logged in as {{ username }} your current score is {{ score }}</h2>
    <h3>Round {{ game_round }} of 12</h3>
    <br/><a href="{{ url_for('index') }}">home</a>
    <img src="{{ animal.thumbnail.url }}" alt="Picture of Animal">
    <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">Scientific Name:</th>
                <td>{{ animal.scientific_name }}</td>
              </tr>
              <tr>
                    <th scope="row">Type:</th>
                    <td>{{ animal.type }}</td>
              </tr>
              <tr>
                    <th scope="row">Diet:</th>
                    <td>{{ animal.diet }}</td>
              </tr>
              <tr>
                    <th scope="row">Average Life Span:</th>
                    <td>{{ animal.average_life_span_in_the_wild }}</td>
              </tr>
              <tr>
                    <th scope="row">Group Name:</th>
                    <td>{{ animal.group_name }}</td>
              </tr>
              <tr>
                    <th scope="row">Size:</th>
                    <td>{{ animal.size }}</td>
              </tr>
              <tr>
                    <th scope="row">Weight:</th>
                    <td>{{ animal.weight }}</td>
              </tr>
              <tr>
                    <th scope="row">Population Trend:</th>
                    <td>{{ animal.population_trend }}</td>
              </tr>
            </tbody>
          </table> 

    <form method="POST" class="form-group">
        <label for="guess" class="col-form-label col-form-label-lg text-primary">What is this animal's correct official name?:</label>
        <input class="form-control form-control-lg" type="text" id="guess" name="guess" placeholder="Enter guess here">
        <button class="btn btn-primary btn-lg">Submit!</button>
    </form>
     <form method="POST" class="form-group">
        <label for="guess" class="col-form-label col-form-label-lg text-primary">No idea? Click the Pass button to give up and load a new animal: </label>
        <button type="submit" id="guess" name="guess" value="pass" class="btn btn-secondary">Pass</button>
    </form>

    
    {% if success == 0 %}
    <p>Previous incorrect guesses: </p>
    {% for previous_guess in previous_guesses %}
       <p>{{ previous_guess }}</p>
        {% endfor %}

    {% endif %}
</div>    
{% endblock %}