{% extends 'base.html' %} {% block content %}
<div class="container background-image display">
    <div class="jumbotron">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li class="text-success">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        <h1 class="display-3">Wildlife Guessing Game</h1>
        <h3>The aim of this game is to guess the name of the animal that is randomly presented</h3>
        <hr class="my-4">
        <div class=metanav>
            {% if not session.logged_in %}
            <div class="row">
                <div class="col-sm">
                    <p>Returning existing User? <a href="{{ url_for('login') }}">log in</a></p>
                </div>
                <div class="col-sm">
                    <p>New User? <a href="{{ url_for('register') }}">register</a></p>
                </div>
              </div>
            {% else %}
            <div class="row">
                <div class="col-sm">
                    <h5>Welcome, you are logged in as <b>{{ username }}</b></h5>
                </div>
                <div class="col-sm">
                    <p><a href="{{ url_for('logout') }}">log out</a></p>
                </div>
                <div class="col-sm">
                    <hr class="my-4">
                    <form method="POST">
                          <button class="btn btn-info btn-lg">Go to game!</button>
                      </form>
                </div>
              </div>
              
                <h3>Game History</h3>
                <div class="row">
                    <div class="col-sm">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Correctly guessed</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for correct_guess in correct_guesses %}
                          <tr>
                            <td>{{ correct_guess }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Passed</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for pass in passes %}
                          <tr>
                            <td>{{ pass }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div> 
            {% endif %}
        </div>
    </div>
</div>
    {% endblock %}